body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: coral;
}
h2 {
    color: #009;
    font-size: 1em;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
p {
  font-size: 12;
}

.coolthing {
   color: white;
    font-size: 10em;
}
