body {
    background-color: rgb(171, 196, 196);
    color: azure;
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: rgb(83, 80, 255);
}
h2 {
    color: rgb(0, 143, 153);
    font-size: 2em;
    margin-bottom: .7em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

p {
  font-size: 12;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  padding-right: 80px;
  padding-left: 80px;

  color: black;
}

ul {
  font-size: 12;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  padding-right: 80px;
  padding-left: 80px;

  color: black;
}
